    <div class="header navbar-fixed-top">
    <h3>this is the welcome index!</h3>
        <ul class="nav navbar-nav pull-right">
        <li><%= link_to "Sign In", sign_in_path %></li>
        <li><%= link_to "Sign up", sign_up_path %></li>
        </ul>
    </div>

<div class="mainCenter">
<br>
<br>
<br>
<br>
nav bar----
<br>
top 5 gardening tips this month!
<br>
<br>
<br>

tip 1
blah blah blah blah
blah blah blah blah
blah blah blah blah
<br>
<br>
<br>
tip 2
balah!
<br>
<br>
<br>
tip 3
more blah than beofre blah
<br>
<br>
<br>
tip 4
more blah than every before blah
more blah than every before blah
<br>
<br>
<br>
tip 5
the last of the blah
the last of the blah
<br>
<br>
<br>
tip 1
blah blah blah blah
blah blah blah blah
blah blah blah blah
<br>
<br>
<br>
tip 2
balah!
<br>
<br>
<br>
tip 3
more blah than beofre blah
<br>
<br>
<br>
tip 4
more blah than every before blah
more blah than every before blah
<br>
<br>
<br>
tip 5
the last of the blah
the last of the blah
<br>
<br>
</div>



links to face book, pinterest, etc.
