<div class="header navbar-fixed-top">
   <h3><%="Welcome back, #{current_user.first_name}! Everything is just how you left it." %></h3>
    <ul class="nav navbar-nav pull-right">
     <li><%= link_to "Sign Out", sign_out_path %></li>
    </ul>
</div>


<% @gardens.each do |garden| %>
  <div class="row top-buffer">
    <div class="well col-md-4">
      <div class="col-md-4 col-md-offset-4">
        <%= link_to garden.season_name, user_garden_path(current_user, garden) %>
      </div>
    </div>
  </div>
<% end %>
