/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import url(http://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans);

body {
  background-color: #F8F8F8;
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.comments{
  padding:20px;
}

.comments article.comment {
  position: relative;
  margin-bottom: 30px;
}

.comments article.comment .meta{
  height: 60px;
  margin-bottom: 17px;
  position: relative;
}

.comments article.comment .meta img.avatar {
  position: absolute;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  left: 0px;
  top: 0px;
}

.comments article.comment .meta a.author,
.comments article.comment .meta a.date {
  text-decoration: none;
  position: absolute;
}

.comments article.comment .meta a.author {
  color: inherit;
  left: 73px;
  line-height: 29px;
  padding: 0px 7px;
  top: 3px;
}

.comments article.comment .meta a.date {
  font-size: 14px;
  line-height: 19px;
  color: #666666;
  left: 80px;
  top: 35px;
}

.comments article.comment .content {
  background-color: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 4px;
  padding: 22px 25px;
  position: relative;
}

.comments article.comment .content:after,
.comments article.comment .content:before {
	bottom: 100%;
	left: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.comments article.comment .content:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 12px;
	margin-left: -12px;
}
.comments article.comment .content:before {
	border-color: rgba(245, 47, 47, 0);
	border-bottom-color: #DADADA;
	border-width: 13px;
	margin-left: -13px;
}

 @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

 .detailBox {
     width:320px;
     border:1px solid #bbb;
     margin:50px;
 }
 .titleBox {
     background-color:#fdfdfd;
     padding:10px;
 }
 .titleBox label{
   color:#444;
   margin:0;
   display:inline-block;
 }

 .commentBox {
     padding:10px;
     border-top:1px dotted #bbb;
 }
 .commentBox .form-group:first-child, .actionBox .form-group:first-child {
     width:80%;
 }
 .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
     width:18%;
 }
 .actionBox .form-group * {
     width:100%;
 }
 .taskDescription {
     margin-top:10px 0;
 }
 .commentList {
     padding:0;
     list-style:none;
     max-height:200px;
     overflow:auto;
 }
 .commentList li {
     margin:0;
     margin-top:10px;
 }
 .commentList li > div {
     display:table-cell;
 }
 .commenterImage {
     width:30px;
     margin-right:5px;
     height:100%;
     float:left;
 }
 .commenterImage img {
     width:100%;
     border-radius:50%;
 }
 .commentText p {
     margin:0;
 }
 .sub-text {
     color:#aaa;
     font-family:verdana;
     font-size:11px;
 }
 .actionBox {
     border-top:1px dotted #bbb;
     padding:10px;
 }

 /*Welcome page styles*/

 .header.navbar-fixed-top {
   background-color: #FAFFEF;
    text-align: center;
    color: rgb(83, 169, 83);
    font-family: fantasy;
}

ul.nav.navbar-nav.pull-right {
  margin: -54px 4px;
}

.navbar-nav>li>a {
  color: yellowgreen;
}

body {
  background-image: url('http://gardenwebs.net/British.conifer.garden.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainCenter {
  margin: 0 auto;
  width: 56%;
  border: 1px solid lightgrey;
  background-color:#A39598;
  box-shadow: 0px 0px 45px rgb(52, 26, 34);
  padding: 0px 43px;
  margin-top: 79px;
}

.col-sm-12 {
  display: none;
}

.SignIn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 14px;
  padding-left: 14px;
  color: yellowgreen;
}

.SignIn:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: #eee;
  color: yellowgreen;
  cursor: pointer;
}
.well {
  margin-left: 29%;
  background-color: #53a953;
}

.top-buffer {
  margin-top:75px;
  margin-bottom: -55px;
  }

.potentional-color-for-garden-index {
  background-color: #C7C564;
}
