/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 
 @import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

 .detailBox {
     width:320px;
     border:1px solid #bbb;
     margin:50px;
 }
 .titleBox {
     background-color:#fdfdfd;
     padding:10px;
 }
 .titleBox label{
   color:#444;
   margin:0;
   display:inline-block;
 }

 .commentBox {
     padding:10px;
     border-top:1px dotted #bbb;
 }
 .commentBox .form-group:first-child, .actionBox .form-group:first-child {
     width:80%;
 }
 .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
     width:18%;
 }
 .actionBox .form-group * {
     width:100%;
 }
 .taskDescription {
     margin-top:10px 0;
 }
 .commentList {
     padding:0;
     list-style:none;
     max-height:200px;
     overflow:auto;
 }
 .commentList li {
     margin:0;
     margin-top:10px;
 }
 .commentList li > div {
     display:table-cell;
 }
 .commenterImage {
     width:30px;
     margin-right:5px;
     height:100%;
     float:left;
 }
 .commenterImage img {
     width:100%;
     border-radius:50%;
 }
 .commentText p {
     margin:0;
 }
 .sub-text {
     color:#aaa;
     font-family:verdana;
     font-size:11px;
 }
 .actionBox {
     border-top:1px dotted #bbb;
     padding:10px;
 }

 /*Welcome page styles*/

 .header.navbar-fixed-top {
   background-color: #FAFFEF;
    text-align: center;
    color: rgb(83, 169, 83);
    font-family: fantasy;
}

ul.nav.navbar-nav.pull-right {
  margin: -54px 4px;
}

.navbar-nav>li>a {
  color: yellowgreen;
}

body {
  background-image: url('http://gardenwebs.net/British.conifer.garden.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mainCenter {
  margin: 0 auto;
  width: 56%;
  border: 1px solid lightgrey;
  background-color:#A39598;
  box-shadow: 0px 0px 45px rgb(52, 26, 34);
  padding: 0px 43px;
  margin-top: 79px;
}

.col-sm-12 {
  display: none;
}

.SignIn {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 14px;
  padding-left: 14px;
  color: yellowgreen;
}

.SignIn:hover {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 14px;
  padding-left: 14px;
  background-color: #eee;
  color: yellowgreen;
  cursor: pointer;
}
.well {
  margin-left: 29%;
  background-color: #53a953;
}

.top-buffer {
  margin-top:75px;
  margin-bottom: -55px;
  }

.potentional-color-for-garden-index {
  background-color: #C7C564;
}

.text-custom {
  color: yellow;
}

.index-well-text-color {
  color: yellow;
}
